.BodyHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
}

.BodyHeader::before {
    content: '';
    position: absolute;
    top: 50;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(20% at right 60%)
}

.BodyHeader::after {
    content: '';
    position: absolute;
    top: 30;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(111, 0, 255), rgba(0, 247, 255, 0.993));
    clip-path: circle(5% at 10% 35%);
}

.containerGlass {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    flex-wrap: wrap;
    z-index: 1;
}

.containerGlass .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.containerGlass .card .content {
    padding: 1.2rem;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: .5s;
}

.containerGlass .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.containerGlass .card .content h2 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(121, 121, 121, 0.2);
    pointer-events: none;
}

.containerGlass .card .content h3 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.containerGlass .card .content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.containerGlass .card .content a {
    position: relative;
    display: inline-block;
    padding: .5rem 1.2rem;
    margin-top: 1.8rem;
    background: #fff;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
}